.btn{
  @extend %custom-font;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $mid-grey;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.06em;
  transition: all ease-in 0.3s;
  &--primary{
    color: #FFF;
    border-color: $brand-primary;
    background-color: $brand-primary;
    &:hover{
      border-color: $darkest;
      background-color:$darkest
    }
  }
  &--alt{
    color: $brand-alt;
    background-color: $light-grey;
    &:hover{
      border-color: $darkest;
      background-color: $darkest;
    }
  }
  &:focus, &:active{
    outline: none;
  }
}
.btn + .btn{
  margin-left: 15px;
}
