.imgInfo{
  padding:2%;
  &--bottom{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 20%, rgba(0,0,0,1) 100%);
    color:#FFF;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }
  &__title{
    @extend %custom-font;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  }
  &__desc{
    &--exif{
      text-align: center;
    }
  }
}

.exif{
  &:empty{
    display: none;
  }
  font-size: 13px;
  margin: 4px;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
  border: 1px solid $darkest;
  display: inline-flex;
  &__label{
    background: $mid-grey;
    color: $darkest;
    padding:2px 4px;
    &--prefix{
      border-right: 1px solid $darkest;
    }
    &--suffix{
      border-left: 1px solid $darkest;
    }
  }
  &__value{
    background: $light-grey;
    color: $brand-primary;
    padding: 2px 4px;
  }
}
