.fileList{
}
.file{
  background-color: #EEE;
  background-size: cover;
  margin: 20px 0 0 0;
  padding: 10px;
  border: 2px solid $brand-alt;
  border-radius: 4px;
  display: flex;
  &__preview{
    flex:0 0 140px;
    height: 140px;
    background-size: cover;
    margin:0 10px;
    border: 1px solid #666;
    border-radius: 4px
  }
  &__fields{
    flex-grow: 3;
  }
  &__exif{
    flex: 0 0 280px;
    overflow: hidden;
  }
}
