.imagePicker{
  display: flex;
  flex-wrap: wrap;
  &__item{
    flex:0 1 100px;
    &__img{
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      width: 90px;
      height:90px;
      margin:5px;
      border:1px solid #000;
      border-radius: 4px;
    }
  }
}
