:global{
  @import 'base';
  @import 'vendor/normalize';
  @import 'components/header';
  @import 'components/pager';
  @import 'components/PostDateRange';
  @import 'components/PostHeader';
  @import 'components/element';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .content{
    max-width: 1280px;
    position: relative;
    padding: 0 2%;
    margin: 0 auto;
  }
}
